






table{
    border-collapse: collapse;
    width: 700px;
    height: 160px;
}


th, td{
    border: 1px solid blue;
}

.red{
    background-color: red;
    color: white;
}

.green{
    background-color: green;
    color: yellow;
}